<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
        <link rel="icon" type="image/png" href="../static/images/travel.png" />
        <link rel="stylesheet" href="../static/css/register.css" type="text/css">
        <script src="https://kit.fontawesome.com/d540eac9df.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <section>
            <!-- image -->
            <div class="image-box">
                <img src="../static/images/bg-register.jpg" />
            </div>
            
            <!-- content -->
            <div class="content-box">
                <div class="form-box">
                    <!-- title -->
                    <h2>Register</h2>

                    <!-- information -->
                    <form>
                        <!-- username -->
                        <div class="input-box">
                            <span>Username</span>
                            <input type="text" name="">
                        </div>

                        <!-- email -->
                        <div class="input-box">
                            <span>Email</span>
                            <input type="text" name="">
                        </div>

                        <!-- password -->
                        <div class="input-box">
                            <span>Password</span>
                            <input type="password" name="">
                        </div>

                        <!-- register -->
                        <div class="input-box">
                            <input type="button" onclick="register_button()" value="Register" name="">
                        </div>

                        <!-- login -->
                        <div class="input-box">
                            <p>Already have an account? <a href="/login">Login</a></p>
                        </div>
                    </form>

                    <!-- social media -->
                    <h3>Register with Social Media</h3>
                    <ul class="media-icons">
                        <a href="https://www.facebook.com"><li id="facebook"><i class="fa-brands fa-facebook-f"></i></li></a>
                        <a href="https://www.instagram.com"><li id="instagram"><i class="fa-brands fa-instagram"></i></li></a>
                        <a href="https://twitter.com"><li id="twitter"><i class="fa-brands fa-twitter"></i></li></a>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Javascript -->
        <script type="text/javascript" src="../static/js/register.js"></script>
    </body>
</html>